include ../heading/index.pug
include ../link/index.pug
include ../review/index.pug
include ../text/index.pug

mixin project(info, index)
	- let {description, image, link, title} = info;
	li(class=s.project)&attributes(attributes)
		div(class=s.project_image)
		+review(data.review[++index])(class=s.project_review)
		div(class=s.project_info)
			+heading(title, 'h3', 'h3')
			+text(description)
			+link('See Case Study', link)

mixin projects(list)
	div(class=s.projects)&attributes(attributes)
		header(class=s.projects_header)
			+heading(data.projects.heading, 'h2', 'h2')(class=s.projects_heading)
			+text(data.projects.description)(class=s.projects_description)
		ul(class=s.projects_list)
			each item, index in list
				+project(item, index)(class=s.projects_item)
