include ../section/index.pug

main(class=s.main)
	+section('Hero')(class=s.section__top)
		p foobar

	//- img(src=require('../assets/images/rocket-64.png').default alt='rocket')
	//- img(src=require('../assets/images/blue.webp').default alt='blue')
	//- img(src=require('../assets/images/shuttle.jpg').default alt='shuttle')
