include ../aside/index.pug
include ../section/index.pug
include ../hero/index.pug
include ../about/index.pug
include ../review/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			+hero()(class=s.section_inner)
		+section()(class=s.section__about)
			+about()(class=cx(s.section_inner, s.section_inner__start))
			+review(data.review[0])(class=cx(s.section_inner, s.section_inner__end))
		+aside('Lorem ipsum, dolor sit amet consectetur')(class=s.main_aside)
		+section('Projects')(class=s.section__projects)
		+section('Features')(class=s.section__features)
		block
