include ../about/index.pug
include ../aside/index.pug
include ../hero/index.pug
include ../partners/index.pug
include ../projects/index.pug
include ../review/index.pug
include ../section/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			+hero()(class=s.section_inner)
		+section()(class=s.section__about)
			+about()(class=cx(s.section_inner, s.section_inner__start))
			+review(data.review[0])(class=cx(s.section_inner, s.section_inner__end))
		+aside()(class=s.main_aside)
			+partners(data.partners)
		+section()(class=s.section__projects)
			+projects(data.projects.list)(class=s.section_inner)
		+section('Features')(class=s.section__features)
		block
