include ../section/index.pug
include ../aside/index.pug
include ../img/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section('Hero')(class=s.main_sectionHero)
		+section('About')(class=s.main_sectionAbout)
		+aside('Lorem ipsum, dolor sit amet consectetur')(class=s.main_aside)
		+section('Projects')(class=smain_sectionProjects)
		+section('Features')(class=s.main_sectionFeatures)
		block
		+img('rocket-64.png', 'rocket' )
		+img('blue.webp', 'blue')
		+img('shuttle.jpg', 'shuttle')
