include ../section/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section('Hero')(class=s.section__top)
		block
		p main

	//- img(src=require('../assets/images/rocket-64.png').default alt='rocket')
	//- img(src=require('../assets/images/blue.webp').default alt='blue')
	//- img(src=require('../assets/images/shuttle.jpg').default alt='shuttle')
