include ../section/index.pug
include ../aside/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section('Hero')(class=s['main__section-hero'])
		+section('About')(class=s['main__section-about'])
		+aside('Lorem ipsum, dolor sit amet consectetur')(class=s.main__aside)
		+section('Projects')(class=s['main__section-projects'])
		+section('Features')(class=s['main__section-features'])
		block
		p main

	//- img(src=require('../assets/images/rocket-64.png').default alt='rocket')
	//- img(src=require('../assets/images/blue.webp').default alt='blue')
	//- img(src=require('../assets/images/shuttle.jpg').default alt='shuttle')
