include ../section/index.pug
include ../aside/index.pug
include ../img/index.pug
include ../link/index.pug
include ../text/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			+text('A place where')
			h1 A creative agency for redemptive brands
			+link('Get in touch', '#0')
		+section('About')(class=s.section__about)
		+aside('Lorem ipsum, dolor sit amet consectetur')(class=s.main_aside)
		+section('Projects')(class=s.section__projects)
		+section('Features')(class=s.section__features)
		block
		//- +img('rocket-64.png', 'rocket' )
		//- +img('blue.webp', 'blue')
		//- +img('shuttle.jpg', 'shuttle')
